.navigation {
  .list-group {
    .list-group-item {
      border: none;
      img {
        width: 34px;
      }
      span {
        font-weight: bold;
        font-size: 25px;
        vertical-align: middle;
      }
    }
  }
}
